---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

// Base
@import "base/normalize";

// Configuration
@import "config/colors";
@import "config/mediaqueries";
@import "config/typography";

@import "base/base";
@import "base/layout";
@import "base/font";
@import "base/form";

// Tool
@import "tool/utilities";

// Generic
//@import "generic/broken-images";
@import "generic/normalize-opentype";
@import "generic/print";

// Object
//@import "object/header";
//@import "object/pagination";
//@import "object/posts";


body,html {
  height: 100%;
}

.site-header {
  position: relative;
  background-size: cover;
  background-blend-mode: hard-light;
  background: #333;
  background-image: url(/assets/images/palissade-fleur.jpg);
  background-position: 50% 50%;
  z-index: 0;
  .wrapper {
    padding: 1vw 0 2vw; 
  }
  img {
    width: 100%;
  }
}

.site-header-background img {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(50%,50%);
  object-fit: cover;
}

.site-footer {
  padding: $base-line/2 0;
  color: #fff;
  background: #333;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      &:not(:first-child):before {
        content: '-';
        margin-right: 0.4rem;
      }
    }
  }
  a {
    color: $color-primary;
  }
}

.site-title {
  @media #{$medium-up} {
    display: flex;
    align-items: center;
  }
  margin: 2rem 1vw 1rem;
  @extend h2;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 1px rgba(0,0,0,0.6);
  color: #fff;
  @media #{$medium-up} {
    display: flex;
    align-items: center;
  }
}

.site-logo {
  display: inline-block;
  margin: -3rem auto $base-line;
  min-width: 7em; 
  max-width: 12em; 
}

.site-nav {
  @media #{$medium-up} {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }
  padding: 0;
  width: 100%;
  background: #333;
  box-shadow: inset 0px -5px 50px rgba(255,255,255,0.1);
  ul {
    display: inline-block;
    @media #{$medium-up} {
      display: flex;
      justify-content: flex-end;
    }
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fff;
    @media #{$medium-up} {
      border-left: 1px solid #fff;
    }
  }
  a {
    display: block;
    padding: $base-line/2 $base-line;
    color: #fff;
    font-weight: bold;
    font-size: $small;
    text-decoration: none;
    &:hover {
      color: #333;
      background: #fff;
    }
  }
}

section {
  border-top: 20px solid #cecece;
  &.center {
    text-align: center;
    ul,ol {
      margin: auto;
    }
  }
  .section_content {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 1vw 1vw 4vw;
    width: 100%;
    max-width: 35em;
  }
  .section_graph {
    max-width: 55em;
    margin: $base-line auto 0 !important;
    ul {
      @media #{$medium-up} {
        display: flex;
        flex-direction: column;
        float: left;
        margin: $base-line*1 0 0 !important;
        width: 49%;
        & + ul {
          float: right;
        }
      }
      padding: 0;
      list-style-type: none;
       
      li {
        display: flex;
        align-items: center;
        width: 100%;
        font-family: $base-font-family-title;
        text-transform: uppercase;
        min-height: 6em;
        text-align: left;
        svg {
          //max-width: 20%;
        }
      }
    }
  }
  
  > :last-child {
    margin-bottom: auto;
  }
  &:first-child {
    img {
      margin: 0 auto !important;
      max-width: 30rem;
      width: 100%;
    }
  }
  h2 {
    color: palette(primary,dark);
  }
  img {
    width: 100%;
  }
  .svg-size {
    display: block;
    float: left;
    width: 150px;
    height: 80px;
    margin-right: $base-line;
    &,g {
      fill: $color-primary;
    }
  }
  ol {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    li {
      list-style-position: inside;
      margin: 0 0 $base-line/2;
      padding: $base-line/2 $base-line*1;
      width: 100%;
      color: #333 !important;
      font-weight: bold;
      background: palette(primary,light);
      border-radius: 8px;
    }
  }
  ol {
    counter-reset: section;
    li {
      //overflow: hidden;
      position: relative;
      padding: $base-line $base-line*1 $base-line $base-line*9/3;
    }
    li::before {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: $base-line*3/2;
      height: 100%;
      line-height: 1.3;
      counter-increment: section;
      content: counters(section,"") " ";
      font-size: $title2;
      color: #fff;
      background: #333;
      border-radius: 6px 0 0 6px;
    }
  }
  &:nth-child(2n) {
    background: #222;
    border-color: #333;
    h1,h2,h3,h4,p,label,ol,ul,li {
      color: #fff;
    }
    .button {
      &,&:visited {
        color: #000;
        background: $color-primary;
      }
      &:hover {
        background: darken($color-primary, 10%);
      }
    }
    ol {
      li {
        color: #333 !important;
      }
    }
  }
  &.section-schema {
    text-align: center;
    img {
      margin: 0 auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.button {
  margin: $base-line;
  &,&:visited {
    display: inline-block;
    margin: auto; 
    padding: 0.7rem 1rem 0.5rem;
    max-width: 25rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background: #333;
    border-radius: 5px;
    transform: 0.1s ease all;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    background: darken(#000, 10%);
  }
  &--action {
    &,&:visited {
      color: #000;
      background: $color-primary;
    }
    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}

section .bottom {
  position: absolute;
  right: 5vw;
  bottom: 0;
  padding-bottom: 50px;
  font-size: 60%;
  text-align: center;
}

section .bottom:after {
  content: '';
  display: block;
  margin: 1em auto 0;
  width: 20px;
  height: 20px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
